<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>high-chart test</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../../web-component-tester/browser.js"></script>

    <link rel="import" href="../high-chart.html">
  </head>
  <body>
    <test-fixture id="basic">
      <template>
        <high-chart></high-chart>
      </template>
    </test-fixture>

    <script>
      suite('high-chart', function() {
        test('instantiating the element works', function() {
          var element = fixture('basic');
          assert.equal(element.is, 'high-chart');
        });
      });
    </script>
  </body>
</html>
